@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');
:root {
--primary-color:  #6d6fca;
/* --secondary-color: #ff4700; */
--secondary-color: rgba(86, 197, 58, 1);
--darkbg: rgb(51, 51, 51);
--darkbg-text: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
height: 100%;
font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", serif;
}
/* Home Page */
/* Header */
.header {
 
  background-color: #ffffff;
  width: 100%;
 padding: .6rem 0;

	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30)
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-title {
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  background: rgb(109,111,202);
  background: linear-gradient(90deg, rgba(109,111,202,1) 40%, rgba(86,197,58,1) 60%);
  font-size: 1.5rem;
  background-clip: text;
  margin-left: .5rem;
}
.link-container {
display: flex;
justify-content: space-evenly;

}
.link-container ul {
display: flex;
list-style: none;
align-items: center;
margin-right: 2rem;
}
.link-container ul>li>a {
  margin: 0 .5rem;
  color: #756e6e;
  text-decoration: none;
}
.link-container ul>li>a:hover {
  color: #413c3c;
}
.contact-btn {
  color: #756e6e;
  background-color: #ffffff;
  margin-right: .5rem;
  padding: .5rem;
}
.contact-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  transition: ease-in .2s;
}
/* Hamburger */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
}
.menu-bars {
  margin-left: .5rem;
  font-size: 2rem;
  background: none;
  text-decoration: none;
  color: var(--darkbg);
}
.menu-and-logo {
  display: flex;
}
.menu-and-logo h1 {
  margin-left: .7rem;
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  background: rgb(109,111,202);
  background: linear-gradient(90deg, rgba(109,111,202,1) 40%, rgba(86,197,58,1) 60%);
  background-clip: text;
}
.hamburger-contact-btn {
  color: #756e6e;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: .8rem;
  padding: .3rem;
  margin-right: .5rem;
}
.fa-times {
  color: var(--darkbg-text);
  margin-left: .5rem;
}
.nav-menu {
  background-color: var(--darkbg);
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 5;

}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {

list-style: none;
display: flex;
justify-content: flex-start;
align-items: center;
padding: .5rem 0 .5rem .3em;
}
.nav-text a {
  color: var(--darkbg-text);
  text-decoration: none;
  font-size: 1.6rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.nav-menu-items {
  list-style: none;
 width: 100%;
}
.nav-menu-items li:nth-child(2) {
  border-bottom: 2px solid #746d6d67;
}
.nav-text:nth-child(3) {
  border-bottom: 2px solid #746d6d67;
}
.nav-text:nth-child(4) {
  border-bottom: 2px solid #746d6d67;
}
.nav-toggle {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Hero */
.hero-div {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
overflow: hidden;
position: relative;
}
.video-div{
  height: 90vh;
  width: 100vw;
  padding:0;
  margin: 0;
  position: relative;
}
.bgvid {
  left: 0;
  width: 100%; 
  height: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
  filter: blur(.3rem)

}
.hero-text-div {
 display: flex;
 justify-content: center;
  align-items: center;
  position: absolute;
}
.hero-text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  background-color: var(--primary-color);
  position: absolute;
  z-index: 2;

  
}
.arrow-container {
  height: 3rem;
  width: 3rem;
  border: .4rem solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
}
.arrow {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
}
 /* product card */
 .product-container {
   display: flex;
   flex-wrap: wrap;
   
 }

 .product-text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 45%;
  
  
 }
 .product-text-container h2{
   font-size: 1.4rem;
  text-align: center;
  margin-bottom: 5rem;
  
 }
 .product-text-marketing {
  background-color: var(--primary-color);
  color: #ffffff;
 }
.product-text-analytics {
   background-color: var(--secondary-color);
   color: #ffffff;
}
.explore-btn {
  text-decoration: none;
  color: #756e6e;
  background-color: #ffffff;
  padding: .8rem;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  border: 2px solid black;
  box-shadow: 1px 1px -2px 1px rgba(0,0,0,0.37);
}
.explore-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  transition: ease-in .2s;
}
 .product-image-container {
  
   display: flex;
   flex: 1 1 55%;
   
 }
 .product-image {
   object-fit: cover;
   object-position: center;
   width: 100%;
   
   
 }
 .product-info-image-container {
   display: flex;
  flex: 1 1 50%;
 }
 .product-info{
   display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  background-color: var(--darkbg);
  justify-content: center;
  align-items: center;
 }
 .product-info p{
  text-align: center;
  margin: 3rem 0;
  font-size: 1rem;
  color: var(--darkbg-text);
  line-height: 1.6rem;
  font-weight: 600;
  width: 50%;
  height: 50%;
  
}
 .product-info-image {
   object-fit: cover;
   width: 100%;
   height: auto;
   background-color: var(--darkbg);
   
 }
 /* Questions */
 .question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem;
  background-color: #ffffff;
  height: 100%;

}
.question-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;

}
.question-title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  background-color: var(--primary-color);
  padding: 0 .3rem;
  margin-bottom: .4rem;
}
.question {
font-size: 1.5rem;
}
/* Color Grid */
.color-grid-container {
display: grid;
grid-template-columns: repeat(4, 1fr);

}
.color-grid-container div>a {
  text-decoration: none;
}
.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background: 
linear-gradient(rgba(70, 227, 255, 0.75),rgba(70, 227, 255, 0.75)), 
url('./images/linkedin-sales-navigator-4rvBjoQWERk-unsplash.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}
.our-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: 
  linear-gradient(rgba(170, 44, 69, 0.75),rgba(170, 44, 69, 0.75)), 
  url('./images/luke-chesser-JKUTrJ4vK00-unsplash.jpg');
  background-color: rgb(170, 44, 69);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.our-story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 153, 51);
  background: 
  linear-gradient(rgba(116, 153, 51, 0.75),rgba(116, 153, 51, 0.75)), 
  url('./images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  
  
}
.read-our-thoughts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 163, 29);
  background: 
  linear-gradient(rgba(216, 163, 29, 0.75),rgba(216, 163, 29, 0.75)), 
  url('./images/robina-weermeijer-so1L3jsdD3Y-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6rem 0;
}
.color-grid-title {
 color: #ffffff;
 font-size: 1.4rem;  
 text-align: center;
}
.color-arrow {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
}
.color-arrow:hover {
  font-size: 2.5rem;
  transition: ease .2s;
}
/* Footer */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .6rem;
	-webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.37);
-moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.37);
box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.37);
}
.logo-brands-container h1 {
  margin-left: 0;
  font-size: 1.8rem;
}
.brands i {
  margin-right: .5rem;
  font-size: 1.5rem;
}
.footer-contact-btn {
  padding: .7rem;
  color: #756e6e;
  background-color: #ffffff;
}
.footer-contact-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  transition: ease-in .2s;
}
/* Modal */
.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;
}

.modal.modal-fade {
  animation: fade-in 1s 1 linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.modal > .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal > .modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #5e5e5e;
  cursor: pointer;
  font-size: 1.25em;
  background: rgba(255, 255, 255, 0.749);
  border: 1px solid #c3c0c0;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: .3rem;
}
.modal-close i {
  color: var(--darkbg);
  margin-right: .5rem;
}
.modal > .modal-close:hover {
  background: rgba(255, 255, 255, 0.989);
}

.modal > .modal-body {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding: 15px 20px;
  color: #c3c0c0;
}


@keyframes fade-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form input {

}
.label-div label {
 margin-right: 1.5rem;
 color: #756e6e;
}
.text-area {
 width: 30rem;
 height: 20rem;
 resize: none;
}
.submit-btn {
  margin-top: 1rem;
  padding: .5rem;
}
/* About Us Page */
/* about-hero */
.about-hero-container {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.about-hero-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
height: 70vh;
}
.about-hero-title {
  position: absolute;
  color: #ffffff;
  font-size: 1.8rem;
  background-color: var(--secondary-color);
  padding: .5rem;
 
}
/* blurb */
.about-blurb-container {
  display: flex;
}
.blurb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 50%;
  padding: 1rem 2rem;
  padding-bottom: 3rem;
}
.blurb-container h2 {
  font-size: 2.5rem;
  margin-top: 5rem;
}
.blurb-container p {
  margin-top: 2rem;
}
.blurb-span {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: .3rem;
}
.blurb-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
}
.blurb-image {
width: 100%;
height: auto;
object-fit: cover;
object-position: center center;
}
.image-collage-container {
  width: 100vw;
}
.blurb-image {
object-fit: contain;
}
/* image collage */
.image-collage-container {
  width: 100%;
} 
.collage {
  background-color: var(--darkbg);
  display: grid;
  grid-template-columns: repeat(5, minmax(10px, 1fr));
  gap: none;
}
.collage-image-container {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}
.collage-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
}
.caption-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 2rem 1rem;
}
.caption-container div>p {
  color: var(--darkbg-text);


  
}
.caption-container hr {
  height: .2rem;
  width: 33%; 
  background-color: var(--darkbg-text);
  border: none;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: .2;
}

/* culture */
.culture-head {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding: 7rem;
}
.culture-head h2 {
  margin-bottom: 1rem;
}
.culture-head h2>span {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: .5rem;
  font-size: 1.8rem;
}
.culture-caption-container {
  display: flex;
  background-color: var(--darkbg);
}
.culture-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  flex: 1 1 33%
}
.culture-caption h2 {
color: var(--darkbg-text)
}
.culture-caption p {
  color: var(--darkbg-text)
  }

/* Product Page */
/* Product Hero */
.product-hero-container {
display: grid;
grid-template-columns: repeat(2 , 1fr);

}
.product-hero-text-container {
grid-column: span 2;
display: flex;
justify-content: center;
flex-direction: column;
padding: 4rem;
text-align: center;
}
.product-hero-text-container h2 {
font-size: 2.5rem;
}
.product-btn-container {
display: flex;
justify-content: center;
}
.product-contact-btn {
  margin-top: 1rem;
  color: white;
  background-color: var(--primary-color);
  padding: 2rem;
  font-size: 2rem;
}
.product-contact-btn:hover {
  
}
.hero-image-container {
 display: flex;
 justify-content: center;
}
.product-hero-analytic {
  height:100%;
  width: 50%;
}
.product-hero-strategy {
  height:100%;
  width: 50%;
}
/* Product Details */
.product-details-container{
  display: grid;
  background-color: var(--darkbg);
  grid-template-columns: repeat(3, 1fr);
}
.details-container {
  color: var(--darkbg-text);
  padding: 2rem 1rem;
}
.center-details {
  border-left:  .13rem solid rgba(128, 128, 128, 0.123);
  border-right:  .13rem solid rgba(128, 128, 128, 0.123);
}

.detail-icon {
  color: #d3d3d3;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.fa-chart-bar {
  color: var(--secondary-color);
}
.fa-users {
  color: var(--primary-color);
}
.fa-heart {
  color: #c41a31;
}

/* Testimonials */
.product-testimonials-container {
  display: flex;
  flex-direction: column;
}
.test-card {
  display: flex;
padding: 2rem;
} 
.test-card div>h5 {
  text-align: center;
}
.test-card-reverse {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--darkbg);
  padding: 2rem;
}
.test-card-reverse h5{
  color: var(--darkbg-text);
  text-align: center;
}
.test-card-reverse div>p {
  color: var(--darkbg-text)
}
.test-person-container {
  padding: 3rem;
}
.test-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test1{
    width: 8rem;
     height: 8rem;;
     border-radius: 50%;
   
   }


/* Blog Page 2 */
.blog-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.blog-margin-container {
  height: 100%;
  width: 100%;
}
.cards-container{
 
}
/* Blog Hero */
.blog-hero-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  padding-top: 2rem;

}
.featured-blog-container>.card-items {
margin-bottom: 0;
}
.featured-blog-container.card-type-article {

}
.staff-pick-links-container {
background:linear-gradient(rgba(109, 111, 202, 0.75),rgba(71, 71, 71, 0.75)), 
url("./images/blog-bg.jpg");
width: 100%;
height: 100%;
background-position: center center;
background-size: cover;

}
.staff-pick-links-container h2 {
color: white;
text-align: center;
margin-top: 1rem;
}
.fa-star {
  color: gold;
  transition: transform infinite 1s;
}
.fa-star:hover {
  transform: rotate(360deg);
}
.staff-pick-links-container ul {
list-style: none;
position: relative;
margin-top: 3rem
}
.staff-pick-links-container ul>li {
 margin-top: 1rem;
 position: relative;
margin-bottom: 2rem;

   
  }
.list-element::before {
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: var(--secondary-color);
    transition: 250ms ease-in;
    transform: scaleY(1);
    border-radius: 50%;
    margin-top: .7rem;
    transform-origin: left;
    margin-left: 1rem;
    z-index: 5;
}
.list-element:hover::before {
 
}
.staff-pick-links-container ul>li>a {
 text-decoration: none;
 margin-left: 3rem;
 font-size: 1.6rem;
 color: white;

   
  }
.staff-pick-links-container ul>li>a::before  {
content: "";
position: absolute;
width: 100%;
height: .2rem;
bottom: 0;
left: 0;
margin-left: 3rem;
background-color: white;
transform-origin: left;
transform: scaleX(0);
transition: transform 100ms ease-out;
opacity: .3;

}
.staff-pick-links-container ul>li>a:hover::before {
  transform: scaleX(.90) ;
 
}
/* Blog Filter */
.filter-container {
display: flex;
padding: 2rem 0;
background-color: var(--darkbg);

}
.filter-content-type h4, 
.filter-content-category h4, 
.filter-content-all h4{
  margin-bottom: 1rem;
  color: #ffffff;
}
.filter-content-all {
  margin-left: 2rem;
}
.filter-content-type, .filter-content-all {
  margin-right: 4rem;
}
.filter-content-type button:nth-of-type(1),
.filter-content-category button:nth-of-type(1) {
  margin-right: 1rem;
}
.filter-btn {
  color: #000000;
  background-color: #ffffff;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: .3rem;
}
.filter-content-all button:active {
background-color: var(--primary-color);
transition: 50ms ease-out;
}

.filter-on {
  transition: 100ms ease-out;
  background: var(--primary-color);
  color: #ffffff;
}
/* Blog Cards */
.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;

}
.cards-wrapper .card-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  gap: 1rem;
}
.card-items {
  margin-bottom: 1.5rem;
}
.card-item {
  display: flex;
  flex: 1;
}
.card-item-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}
.card-item-image-container {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}
.card-item-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
}
.card-item-info {
  padding: 1rem 1rem 1rem;
  position: relative;
}
.card-info-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.card-info-category {
  font-size: .8rem;
  bottom: 0;
}
.card-type-vid {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: .5rem;
  bottom: 0;
  left: 0;
  position: absolute;

}
.card-type-article {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: .5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Pagination */
.pagination-container {
  padding-bottom: 2rem;
}
.page-list {
  display: flex;
  list-style: none;
}
.pages {
  font-size: 1rem;
  padding: .6rem;
  background-color: var(--primary-color);
  color: #ffffff;
  margin-right: .3rem;
}
.current-page {
  outline: black 2px solid;
  border: white 1px solid;
}
.page-link {
  text-decoration: none;
  color: #ffffff;
}
/* Blog Article */
.blog-article-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.blog-article-hero-container {
  width: 100%;
  height: 100%;
}
.blog-article-image-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
  margin-bottom: 2rem;
}
.blog-article-video-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  margin-bottom: 2rem;
}
.blog-article-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
 
}
.blog-article {
  width: 80%;
  padding-bottom: 3rem;
}
.blog-article h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.blog-article h4 {
  margin-bottom: 2rem;
}
.blog-article p{
  margin-bottom: 2rem;
  line-height: 2.5rem;
  font-size: 1.2rem;

}
.article-and-link-container {
display: flex;
}
.share-links-container {
  display: flex;
  flex-direction: column;
}
.share-links {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.share-links h6 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: lighter;
}
.share-links i  {
  font-size: 1.8rem;
  margin-bottom: .8rem;
  text-align: center;
}
.hide-links {
 visibility: hidden;
}

.show-links {
  visibility: visible;
  transition: 1s;
}
 /* Media Queries */
 @media (min-aspect-ratio: 16/9) {
  #video{
    width: 100vw; 
    height:auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100vh; 
    width:auto;
    margin-left: 50vw;
    transform: translate(-50%);
  }
}

@media (max-width: 767px) {
  /* HomeScreen */
  /* Hero */
  .hero-div {
    height: 60vh;
    width: 100%;
    position: relative;
      background: url('./images/screenshot-people-waling-at-dusk.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  .bgvid {
      display: none;
  }
  .arrow-container {
    height: 2rem;
    width: 2rem;
    border: .2rem solid white;
  }
  .arrow{
    font-size: 1.5rem;
  }
  /* Product Card */

  .product-container {
    margin-top: 0;
    flex-direction: column;
  }
  .product-text-container h2 {
    margin-bottom: 0;
    padding: 4rem 3rem 2rem 2rem ;
  }
  /* Questions */
  .questions-container {
    margin: 6rem;
  }

  .question {
    position: absolute;
    font-size: 1rem;
    margin-top: 9rem;
  }
 /* Color-Grid */
 .color-grid-container {
  grid-template-columns: repeat(1, 1fr);
  
 }
 .color-grid-container div {
   padding: 4rem;
 }
/* About Us page */
/* hero */

/* blurb */
.about-blurb-container {
  flex-direction: column;
}
/* image collage */
.collage {
  grid-template-columns: repeat(2, 1fr);
}
.one {
  order: 1;
  }
.one-cap {
  order: 2;
  }
.two {
  order: 4;
  }
.two-cap {
  order: 3;
  }
.three {
  order: 5;
  }
.three-cap {
  order: 6;
  }
.four {
  order: 8;
  }
.four-cap {
  order: 7;
  }
.five {
  order: 9;
  }
.five-cap {
  order: 10;
  }
  /* Product Page */
  /* product hero */
  .product-hero-analytic {
    height:100%;
    width: 80%;
  }
  .product-hero-strategy {
    height:100%;
    width: 80%;
  }
  /* product details */
  .product-details-container {
    grid-template-columns: repeat(1, minmax(10px, 1fr));
  }
  .center-details {
    border-left: none;
    border-right: none;
    border-bottom: .13rem solid rgba(128, 128, 128, 0.123);
    border-top: .13rem solid rgba(128, 128, 128, 0.123);
  }
  /* Testimonials */
  .test-card {
  
  } 
.test-person-container {
  padding: 2rem 1rem;
}

/* Blog Page */
/* Blog Hero */
.blog-hero-container {
  grid-template-columns: repeat(1, minmax(10px, 1fr));
}
/* Blog Cards */
.cards-wrapper .card-items {
  grid-template-columns: repeat(1, minmax(10px, 1fr));
}
}